/**
 * @name Custom Disconnect Buttons
 * @version AutoUpdate
 * @author Vud
 * @authorId Lol
 * @description Custom Disconnect Lol
 * @source https://github.com/Overimagine1/old-discord-font
*/

.panels-3wFtMD>.wrapper-3Hk9OB .flex-2S1XBF>button:last-child{
    position: absolute;
    bottom: 9px;
    right: 6px;
    z-index: 1;
    width: 50px;
    border-radius: 3px;
    background-color: var(--background-primary);
}
.panels-3wFtMD>.wrapper-3Hk9OB>.container-1zzFcN>.flex-2S1XBF:has(+div>div)>.flex-2S1XBF>button:last-child{
    width: 50px
}
.panels-3wFtMD>.wrapper-3Hk9OB .flex-2S1XBF>button:last-child path{
    color: var(--interactive-active);
}
.panels-3wFtMD>.wrapper-3Hk9OB .flex-2S1XBF>button:last-child:hover{
    background-color: var(--background-secondary);
}
.panels-3wFtMD>.wrapper-3Hk9OB .actionButtons-2vEOUh>button:first-child{
    order: 1;
    pointer-events: none;
    opacity: 0;
}